// These colors are specific to the theme. Do not use in a package!

@very-light-gray: #c5c8c6;
@ghost-white: #f8f8f0;
@light-ghost-white: #f8f8f2;
@light-gray: #ccc;
@gray: #868686;
@dark-gray: #282828;
@very-dark-gray: #1d1f21;
@brown-gray: #073642;
@brown-sub: #002b36;

@blue: #66d9ef;
@brown: #75715e;
@cyan: #8abeb7;
@green: #a6e22e;
@light-orange: #ffd569;
@orange: #fd971f;
@pink: #f92672;
@purple: #ae81ff;
@red: #cc6666;
@sea-green: #529b2f;
@yellow: #e6db74;
